[include]
	path = ~/.gitconfig.local
[color]
	ui = true
[alias]
	tree = log --graph --oneline --all
[core]
	excludesfile = /Users/ryan/.gitignore
[rerere]
	enabled = 1
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[web]
	browser = open
[push]
	default = simple
